<html>
    <h1>DASHBOARD</h1>

    <img src="https://cdn.discordapp.com/avatars/<%= user_info.id %>/<%= user_info.avatar %>.png" alt="">

    <p>Welcome to OUSS <%= user_info.username %></p>

    <a href="/auth/logout">Logout</a>
</html>