<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./partials/head'); %>
</head>
<body class="container">

<nav>
  <%- include('./partials/header'); %>
</nav>

<main>
  <a href="/auth">Login</a>
</main>


<footer>
  <%- include('./partials/footer'); %>
</footer>

</body>
</html>